@import url('https://fonts.googleapis.com/css2?family=Share&display=swap');
        html, body{
            height: 100%;
        }
        body{
            background-color: #999;
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
            background: #4c4c4c; /* Old browsers */
            background: -moz-linear-gradient(-45deg,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        }
        .calculator{
            background: #353535;
            width: 300px;
            padding: 15px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 6px 0 #a1a1a1, 0 8px 10px rgba(0, 0, 0, 0.75);
        }
        .result{
            background-color: #cecfac;
            color: #3b3b32;
            width: 90%;
            margin: 8px 0 20px 10px;
            text-align: right;
            height: 50px;
            line-height: 50px;
            font-size: 34px;
            padding-right: 10px;
            overflow: hidden;
            box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5), inset 0px 0px 2px 0 #a1a1a1;
        }
        ul{
            padding: 0;
            margin: 0;
        }
        ul li{
            list-style: none;
            background: #4e4e4e;
            padding: 10px;
            width: 15%;
            float: left;
            color: white;
            margin: 5px;
            cursor: pointer;
            font-size: 20px;
            border-radius: 5px;
            box-shadow: 0 5px 0 #a5a5a5, 0 2px 5px rgba(0, 0, 0, 0.75);
            font-family: 'Share', cursive;
        }
        ul li:active{
            position: relative;
            top: 4px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
        }
        ul li:nth-child(16){
            height: 75px;
            line-height: 75px;
        }
        ul li:last-child{
            margin-top: -48px;
            width: 65%;
        }
        .signature{
            color: #fff;
            /* font-family: ''; */
            font-size: 0.75rem;
            text-align: right;
            position: relative;
            top: 4px;
            right: 5px;
            z-index: -1;
        }